<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
  <head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/toastr.min.css"/>
    	<script type="text/javascript" src="socket.io/socket.io.js"></script>
    	<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
	<script type="text/javascript" src="js/toastr.min.js"></script>
	<script type="text/javascript" src="js/bigscreen.min.js"></script>
	<script type="text/javascript" src="js/timer.js"></script>

  </head>
  <body id="body">
	<div style="display: none" id="debug"></div>
	<select style="display: none" id="timers" onchange="timerSelected(this);"></select>
	<div id="timer"></div>
	<button style="display: none" id="restart" onclick="timerStart(this);">Restart</button>
  </body>
</html>

